@import "tailwindcss";

:root {
  --primary: #16a34a; 
  --secondary: #22c55e;
  --accent: #f0fdf4;
  --dark: #064e3b;
}

@layer components {
  .main-container {
    @apply max-w-[1440px] mx-auto px-4 md:px-6;
  }
}